@model List<VehiclelRentalApp.Models.Vehicle>
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@{
    if(User.IsInRole("Admin")){
        <div>
            <a asp-action="Create" class="btn btn-primary">Create Vehical</a>
        </div>
    }
}

<div class="container mt-5">
    <h1 class="text-center mb-4">Available Vehicles</h1>
    <div class="row row-cols-1 row-cols-md-3 g-4">
        <!-- Vehicle Card 1 -->
        @foreach(var vehical in Model){
            <div class="col">
                <div class="card h-100">
                    <img src="@vehical.ImageUrl" class="card-img-top" alt="Vehicle Image">
                    <div class="card-body">
                        <h5 class="card-title">@vehical.Make</h5>
                        <p class="card-text">
                            <strong>Model:</strong> @vehical.Model <br>
                            <strong>Fuel Type:</strong> @vehical.FuelType <br>
                            <strong>Registration Number:</strong> @vehical.RegistrationNumber <br>
                            <strong>Capacity:</strong> @vehical.Capacity
                        </p>
                    </div>
                    <div class="card-footer">
                        @{
                            if(User.Identity.IsAuthenticated){
                                if(User.IsInRole("Admin")){
                                    <a asp-action="Update" asp-route-id="@vehical.Id" class="btn btn-primary w-100 mt-2 ">Update Vehical</a>
                                    <form method="post" asp-action="Delete" asp-route-id="@vehical.Id">
                                        <Button type="Submit" class="btn btn-primary w-100 mt-2">Delete Vehical</Button>
                                    </form>
                                } else {
                                    <a asp-action="Detail" asp-route-id="@vehical.Id" class="btn btn-primary w-100">Book Now</a>
                                }
                            } else {
                                <p>Login for Booking</p>
                            }
                        }
                    </div>
                </div>
            </div>
        }
        
    </div>
</div>

